$primary-color: #1c1b1b;
$secondary-color: #efefef;
$color1: #efefef;
// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
